<article class="post-line {{visibility}} {{post_class}}">

    {{#primary_author}}
    <div class="post-line-author-image post-line-left">
        {{#if profile_image}}
            <img class="post-line-profile-image", src="{{img_url profile_image}}" alt="{{name}}'s Picture" />
        {{/if}}
    </div>
    <div class="post-line-author-name">{{name}} : </div>
    {{/primary_author}}
    <a href="{{url}}" class="post-line-title">
        <h6 class="post-line-title">{{title}}</h6>
    </a>
    
</article>